.btn {
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;
    border-radius: 2px;
    display: inline-block;
    border-radius: 0.5rem;
    font-weight: 600;
    padding: 0.3rem 1.5rem;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
    border: 10px; }
    .btn-default {
      color: black;
      background-color: #e2e8f0; }
      .btn-default:hover {
        color: #fff;
        background-color: #717171;
        text-decoration: none !important;
      }
    .btn-primary {
      color: #fff;
        font-size: 1.2em;
      background-color: #4ac6d2;
    border-radius: 25px; }
      .btn-primary:hover {
        color: #fff;
        background-color: #717171; }
    .btn-category {
      background-color: #e9d8fd;
      color: rgba(0, 0, 0, 0.4); }
      .btn-category:hover {
        color: #e2e8f0;
        background-color: #718096; }
    .btn-size-large {
      font-size: 1rem;
      padding: 0.5rem 3rem;
      font-weight: 400;
      border-radius: 9999px; }
    .btn svg {
      height: 1em; }
  