.firm-detail{
    width: 23%;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
}

.firm-detail-row{
    width: 23%;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.firm-detail-title-row{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding-left: 10px;
    
}

.firm-detail-title-row h3{
    color: white;
    white-space: nowrap;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.firm-detail-img{
    height: 90%;
    position: relative;
    transition: 0.5s;
}

.firm-detail-img-row{
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.5s;
}


.firm-detail-img-row img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.firm-detail-img-button-row{
    display: none;
}

.firm-detail-img-button{
    transition: 0.3s;
}

.firm-detail-img .firm-detail-img-button{
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform:translateX(-50%) ;
}

.firm-detail-img:hover .firm-detail-img-button{
    opacity: 1;
    top: 50%;

}

.firm-detail-img:hover img{
    opacity: 0.8;
}

.firm-detail-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.3s;
}

.firm-detail-title{
    margin-top: 10px;
    font-size: 15px;
    transition: 0.3s;
}

.firm-detail-title h3{
    white-space: nowrap;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.firm-detail-title:hover{
    color:#4ac6d2 ;
}